*,html,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 44px;
    padding: 14px;
}

.container {
    height: 100vh;
    width: 100%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.box {
    width: 88%;
    display: flex;
    justify-content: space-evenly;
    background-color: #f7f7f7;
    border-radius: 16px;
    padding: 14px;

}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.reset {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 10px;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.red {
    background-color: #ff4848;
}

.blue {
    background-color: #009eea;
}

.green {
    background-color: #4fff7b;
}

.black {
    background-color: #333333 ;
}
